# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: PySpark Data Sources
site_url: https://allisonwang-db.github.io/pyspark-data-sources
repo_url: https://github.com/allisonwang-db/pyspark-data-sources
theme:
  name: material

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: numpy
  - search

nav:
  - Index: index.md
  - Guides:
    - API Reference: api-reference.md
    - Building Data Sources: building-data-sources.md
    - Data Sources Guide: data-sources-guide.md
    - Simple Stream Reader Architecture: simple-stream-reader-architecture.md
  - Data Sources:
    - datasources/arrow.md
    - datasources/github.md
    - datasources/fake.md
    - datasources/huggingface.md
    - datasources/stock.md
    - datasources/simplejson.md
    - datasources/salesforce.md
    - datasources/googlesheets.md
    - datasources/kaggle.md
    - datasources/jsonplaceholder.md
    - datasources/robinhood.md
    - datasources/lance.md
    - datasources/opensky.md
    - datasources/weather.md
    - datasources/meta_capi.md


markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
